
<nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="/" class="brand-logo">Cosmos</a>
      <a  class="right hide-on-med-and-down brand-logo center brand-logo center ">LIBRARY MANAGEMENT SYSTEM</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login"><i class="material-icons right">lock</i>Login</a></li>
        <li><a href="/register"><i class="material-icons right">cloud_upload</i>Register</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <a href="#" class="brand-logo center ">LIBRARY MANAGEMENT SYSTEM</a>
  </ul>
  <img class="pulse hide-on-med-and-down" src="images/logo.JPG" style="position:absolute; height:15%;width:auto;border-radius:50%;top:6%;left:45%;box-shadow:5px;">
<br>
