



<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
  <nav>

    <div class="nav-wrapper teal lighten-2">
      <a href="#!" class="brand-logo">Cosmos</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="#" class="right hide-on-med-and-down brand-logo center brand-logo center ">LIBRARY MANAGEMENT SYSTEM</a>
       <ul class="right hide-on-med-and-down">
    <li><a href="/profile"><i class="material-icons right">portrait</i>Profile</a></li>
    <li><a href="/logout"><i class="material-icons right">lock_open</i>Sign Out</a></li>
  </ul>

    </div>

  </nav>
  <style>
    hr.style-six {
padding: 0;
border: none;
height: 1px;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
color: #333;
text-align: center;
}
hr.style-six:after {
content:" ";
display: inline-block;
position: relative;
top: -2.1em;
font-size: 1.5em;
padding: 19px 1.75em;
background: #fff url(/images/logo.JPG) no-repeat scroll center;
background-size: 90px 90px;
height: 50px;
}
  </style>
  <br>
      <br>
      <br>
  <div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-Lock fill fa-6x"></i>
      <center><h1 class="display-3" style="font-family:'IM Fell French Canon SC', serif;color:teal">You Are Logged In!</h1>
        <br>
        <br>
        <br>
      </center>
      <hr class="style-six">
      <center>
        <br>
      <br>
      <br>

	  <div class="row">
	  <div class="card col s6 offset-s3">
	<br>
	<br>
	<div class="row">
      <a class="yellow lighten-1 white-text card col tiny s2 offset-s2" href="/profile" role="button"><i class="material-icons prefix">person_outline</i> Profile <br>&nbsp</a>
	  <a class="yellow lighten-1 white-text  card col tiny s2 offset-s1" href="/issue" role="button"><i class="material-icons">add</i><br>Issue<br>&nbsp</a>
	  <a class="yellow lighten-1 white-text  card col tiny s2 offset-s1" href="/issued" role="button"><i class="material-icons">book</i><br>Issued Books</a><br><br>
	  </div>

	  <div class="row">
	  <a class="yellow lighten-1 white-text  card col tiny s2 offset-s3" href="/logout" role="button"><i class="material-icons">lock</i><br>Logout<br>&nbsp</a>
	  <a class="yellow lighten-1 white-text  card col tiny s2 offset-s2" href="/deposit" role="button"><i class="material-icons">clear</i><br>Deposit Books</a><br><br>

	  </div>

	  </div>
	  </div>
    </center>


    </div>
  </div>




  <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>

</body>
